th{
  border:1px solid #01DFA5;
  padding:40px 40px;
  font-size:20px;
}

td{
  border:1px solid black;
  align:center;
  font-weight: bold;
}

#button{
  padding:20px 40px;
  font-weight:bold;
  font-size:20px;
}

.leftside{
  float:left;
  padding-left:150px;
}
.rightside{
  float:right;
  padding-right:150px;
}

body{
  background-image: url("背景２.jpg");
  background-size: cover;
}

#text{
    font-size:50px;
}
