body{
  background-color:gold;
}
.keiyaku,#qb{
  float:left;
}
#qb{
  float:right;
}
#mami{
  display:none;
  padding:20px;
}

option.me{
  color:red;
}

#sinu{
    font-size:50px;
    font-weight: bold;
}

#sel{
    width:150px;
    height:40px;
    font-weight: bold;
    font-size: 20px;
}

#death-button{
    width:150px;
    height:40px;
    font-weight: bold;
    font-size:20px;
}

#title{
    font-size:25px;
    font-weight: bold;
}

#bokuto{
    font-weight: bold;
    font-size:20px;
}

#keiyaku-button{
    width:160px;
    height:35px;
    font-size: 20px;
    font-weight: bold;
}

#jiro{
    font-size:80px;
    font-weight:bold;
}

#mitakihara{
    font-size: 40px;
}

#keiyakuform{
    float:right;
    padding-right: 100px;
    padding-top: 50px;
}

#leftside{
    float:left;
    padding-left: 150px;
}

#j{
    width:400px;
    height:330px;
}
