body{
    background-image: url("マミ.gif");
    background-size: 10% auto;
}

#mami{
    width:400px;
    padding-left:400px;
}

#text1{
    font-weight: bold;
    font-size: 40px;
    color: #DF0101;
    padding-left: 150px;
}

#text2{
    font-weight: bold;
    font-size: 40px;
    color: #DF0101;
    padding-left: 430px;
}

#text3{
    font-weight: bold;
    font-size: 40px;
    color: #DF0101;
}

#button{
    width:500px;
    height:40px;
    font-size: 20px;
    font-weight: bold;

}

#btn{
    padding-left: 350px;
}
