/*
    PC
*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background-color:#ccc;
}


/*
    header

    screen-size:min=320px;
*/

@media screen and (max-width:800px){
    #header{
        position:relative;
        background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#dddddd));
        background-image:-ms-linear-gradient(left,#ffffff,#dddddd);
        background-image:-moz-linear-gradient(left,#ffffff,#dddddd);
        background-image:linear-gradient(left,#ffffff,#dddddd);
        z-index:10000000;
        width:100%;
        min-width:320px;
        height:70px;
        line-height:70px;
    }
    #logo{
        float:left;
    }
    #header #logo .odd{
        display:inline-block;

        height:40px;
        width:40px;
        line-height:40px;
        background-color:#fff;
        text-align:center;
        font-size:30px;
        box-shadow:0 0 15px;
        transform:rotate(15deg)
    }
    #header #logo .even{
        display:inline-block;

        height:40px;
        width:40px;
        line-height:40px;
        background-color:#fff;
        text-align:center;
        font-size:30px;
        box-shadow:0 0 15px;
        transform:rotate(-15deg)
    }
    #navigation{
        float:right;
    }
    .menupart_wrapper{
        position:absolute;
        top:100%;
        right:20px;
        display:none;
    }
    #menupart{
        position:relative;
        margin-top:20px;
        box-shadow: 0 0 10px #666;
        background-color:#fff;
        font-size:1em;
        line-height:1.2em;
    }
    #menupart:before{
        content:"";
        position:absolute;
        bottom:100%;
        right:20px;
        width:0;
        height:0;
        border:20px solid transparent;
        border-bottom:20px solid #fff;
        z-index:10000001;

    }
    #menupart a{
        display:block;
        text-decoration:none;
        color:#000;

        padding:5px;
    }
    #menupart a:hover{
        background-color:#ddd;
    }
    input[type=checkbox]:checked ~ #menupart_wrapper{
        display:block;
    }
}

@media screen and (min-width:801px){
    #header #logo{
        padding:20px;
        background-color:#eee;
    }
    #header #logo .odd{
        display:inline-block;
        height:60px;
        width:60px;
        line-height:60px;
        background-color:#fff;
        text-align:center;
        font-size:40px;
        box-shadow:0 0 15px;
        transform:rotate(15deg)
    }
    #header #logo .even{
        display:inline-block;
        height:60px;
        width:60px;
        line-height:60px;
        background-color:#fff;
        text-align:center;
        font-size:40px;
        box-shadow:0 0 15px;
        transform:rotate(-15deg)
    }
    #navigation{
        display:none;
    }
    #menupart a{
        float:left;
        display:block;
        background-color:#000;
        color:#fff;
        text-decoration:none;
    }
}

/*
	中心パート
*/
#centerpart{
	clear:both;
	max-width:800px;
	margin:auto;
	padding:10px 5% 10px 5%;
}

/*
	フォーム
*/
#centerpart input[type="password"],input[type="text"]{
	padding:5px;
	border-radius:5px;
	width:80%;
	max-width:400px;
	font-size:15px;
	border:1px solid #888;
	margin-bottom:10px;
}

#centerpart button,input[type="button"],input[type="submit"]{
	padding:5px;
	border-radius:5px;
	border:1px solid #888;
	cursor:pointer;
}

#centerpart .btn-red{
	background-image:-webkit-gradient(linear,left top,left bottom,from(#6666aa),color-stop(0.5,#6666aa),color-stop(0.5,#7777cc),to(#7777cc));
	color:#fff;
}
#centerpart .btn-red:hover{
	background-image:-webkit-gradient(linear,left top,left bottom,from(#7777aa),color-stop(0.5,#7777aa),color-stop(0.5,#8888cc),to(#8888cc));
}


/*
	フッター
*/

#footer{
    clear:both;
    background-color:#000;
    color:#fff;
    text-align:center;
    padding:20px 0px 20px 0px;
    min-width:320px;
}
